.right-panel {
    -fx-background-color: #f9f4ef;
    -fx-padding: 20;
    -fx-border-color: #d1c3a7;
    -fx-border-width: 0 0 0 2;
}

.nickname {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.transparent-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 50%;
}
